name: Deploy Winder Auto

on:
  push:
    branches: main 

jobs:
  deploy:
    runs-on: self-hosted  # Isso diz para rodar direto no seu servidor
    steps:
      - name: Atualizar Código
        run: |
          cd /home/frufru/services/winder
          git fetch --all
          git reset --hard origin/main
          
      - name: Instalar Dependências e Reiniciar
        run: |
          cd /home/frufru/services/winder
          npm install
          pm2 restart all
